

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  h1 {
    font-size: 35px;
  }

  p {
    margin: 0;
    font-size: 20px;
  }

  li {
    font-size: 20px;
  }

  .spacer {
    flex: 1;
  }

  body {
        background-color: #efeeec;
  }
  span {
    font-size: 24px;
   }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 180px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: 600;
  }

  .toolbar img {
    margin-left: 250px;
    margin-right: 100px;
  }

  .content {
    display: flex;
    margin: 180px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }

  .head {
    padding: 0 16px;
    width: 960px;
    background-color: #000091;
    color: white;
    text-align: center;
  }

  .texte {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    text-align: justify;
    text-justify: auto;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="230"
    alt="Gouv logo"
    src="assets/resources/gouv.jpg"
  />
  <span style="font-size:40px;">Informations relatives au COVID-19</span>
    <div class="spacer"></div>
</div>

<body>
<br>
    <div class="content">
      <span class="head">
      <h1>Alerte Coronavirus !</h1>
    </span>
      <h4>Mise à jour le dimanche 22 mars 2020 à 15h </h4>

      <h1>Informations Coronavirus</h1>
      <div class="texte">
        <p>Le 16 mars 2020, le Président de la République a décidé de prendre des mesures pour réduire à leur plus strict
          minimum les contacts et les déplacements. Un dispositif de confinement est mis en place sur l’ensemble du territoire
          à compter du mardi 17 mars à 12h00, pour quinze jours minimum. Les déplacements sont interdits sauf dans les cas
          suivants et uniquement à condition d'être munis d'une attestation pour :
        </p>
        <ul>
          <li>Se déplacer de son domicile à son lieu de travail dès lors que le télétravail n’est pas possible ;</li>
          <li>Faire ses achats de première nécessité dans les commerces de proximité autorisés ;</li>
          <li>Se rendre auprès d’un professionnel de santé ;</li>
          <li>Se déplacer pour la garde de ses enfants ou pour aider les personnes vulnérables à la stricte condition de
            respecter les gestes barrières ;</li>
          <li>Faire de l’exercice physique uniquement à titre individuel, autour du domicile et sans aucun rassemblement.</li>
        </ul>
        <p>
          Les infractions à ces règles seront sanctionnées d'une amende de 135 euros. En cas de doute sur ces restrictions de
          déplacement, vous pouvez consulter les questions / réponses en cliquant ici.
        </p>
        <p> Attention à vos données personnelles, n'utilisez pas de support numérique pour vos attestations.
          Seuls le document officiel  du ministère de l'Intérieur ou une attestation sur l'honneur sur papier libre peuvent
          être utilisés comme justificatifs.
        </p>
        <p>
          Afin de vous rappeler les consignes de sécurité, nous vous invitons à prendre connaissance du document
          <a href="assets/resources/PrecautionsCorona.pdf" download>PrécautionsCoronaVirus.pdf</a>
          <br>
          <br>
        </p>
      </div>
    </div>
</body>
